<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.openlab.radio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AgileRadioApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Lebanon">
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SetupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:label="Radio - Prepare Show"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShowOverviewActivity"
            android:label="Radio - Show Overview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NumberInputActivity"
            android:label="Radio - Number"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".activities.CreateShow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShowListenersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SpreadTheWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShowResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShowGuestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utilities.FileBrowserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="File browser">
            <intent-filter>
                <action android:name="ua.com.vassiliev.androidfilebrowser.SELECT_DIRECTORY_ACTION" />
            </intent-filter>
        </activity>

        <receiver android:name=".phonehandler.CallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".activities.IvrLibraryActivity"></activity>
    </application>

</manifest>